#First_span
{
	text-align: center;
	margin: 25px;
}
#Outter
{

	text-align: center;
	box-shadow: 0 7px 6px -6px #999; 
}
#Second_Span
{
	float:center;
	padding-right: 500px;	
	text-align: center; 
}
#Wrapper
{
	margin-left: 450px;
}
#Wrapper2
{
	text-align: center;
	background-color: #40e0d0;
}
#Wrapper1
{
	background-color: #40e0d0;
	text-align: center;
	box-shadow: 0 7px 6px -6px #999; 
}
button+button
{
	margin-left : 10px;
}

button {
  margin-right: 50px;
  padding: 8px 18px;
  border: 5px solid white;
  background-color: white;
}
button:hover
{
	background-color: lightgrey;
}
#Special
{
	color: white;
	border:5px solid black;
	background-color: black;
}
#gallery-item {  
  border: 5px solid #FFF;
  margin: 30px;
}

#gallery-item .thumbnail {
  text-align: center;
  border: 5px solid #fff;
}

#Gallery {
  background-color: #40e0d0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

#photo
{
	margin:30px;
	font-size: 200%;
	font-family: "typewriter";
	max-width: 200px;
}
#photo1
{
	margin:30px;
	font-size: 105%;
	max-width: 200px;
}

footer
{
	padding-top: 25px;
	background-color : black;
	height : 100px;
	color:white;
	text-align: right;
	font-size : 140%;
	padding-right: 100px;
}
