
#First_span
{
	text-align: center;
	margin: 25px;
}
#Outter
{
  	justify-content: flex-end;
	text-align: center;
	box-shadow: 0 7px 6px -6px #999; 
}
#Second_Span
{
	text-align: center; 
}
#Wrapper
{
	margin-left: 15%;
	margin-right : 15%;
}
#Wrapper2
{
	text-align: center;
	background-color: #40e0d0;
}
#Wrapper1
{
	background-color: #40e0d0;
	text-align: center;
	box-shadow: 0 7px 6px -6px #999; 
}
#Wrapper3
{
	padding-top: 2%;
}
button+button
{
	margin-left : 10px;
}

button {
  margin-right: 50px;
  padding: 8px 18px;
  border: 5px solid white;
  background-color: white;
}
button:hover
{
	background-color: lightgrey;
}
#Special
{
	color: white;
	border:5px solid black;
	background-color: black;
}
#gallery-item {  
  border: 5px solid #FFF;
  margin: 30px;
}

.thumbnail
{
	width : 50%;
}
#gallery-item .thumbnail {
  text-align: center;
  border: 5px solid #fff;
}

#Gallery {
  background-color: #40e0d0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#photo
{
	margin:30px;
	font-size: 200%;
	font-family: "typewriter";
	max-width: 200px;
}
#photo1
{
	margin:30px;
	font-size: 105%;
	max-width: 200px;
}

footer
{
	padding-top: 25px;
	background-color : black;
	height : 100px;
	color:white;
	text-align: right;
	font-size : 140%;
	padding-right: 100px;
}


#editAboutUs{
	text-align: center;
	font-size: 180%;
	font-family: "Lucida Console", Monaco, monospace;
	border-bottom: 3px solid #9DA19F; 
    line-height: 0.0em;
    margin: 10px 0 20px; 
    background:#fff; 
    width: 60%;
    float: center;
    left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
	

}
#editSpan { 
    background:#fff; 
    padding:0px 20px; 
} 

#formular
{
	background-color: white;
	margin-left: 27%;
	margin-right: 27%;
}

#Data
{
	padding-left : 5%:;
}